@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	margin: 0;
	font-family: 'Rajdhani', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #333;
	color: #fff;
	line-height: 1.6;
	height: 100vh;
}

body::-webkit-scrollbar {
	background: rgba(0, 0, 0, 0.596);
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background: rgba(68, 68, 68, 0.596);
	border-radius: 3px;
}

code {
	font-family: 'Rajdhani', sans-serif;
}
